# Neon PostgreSQL Database Connection URL
DATABASE_URL="postgresql://neondb_owner:npg_Xhx1ykgHS0cT@ep-tiny-mouse-a52mp86j-pooler.us-east-2.aws.neon.tech/neondb?channel_binding=require&sslmode=require"

# AI LPU Natural Language & Voice Note Engine
GROQ_API_KEY="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"
